.app {
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  background:
    radial-gradient(
      circle at 80% 0%,
      rgba(108, 99, 255, 0.12),
      transparent 35%
    ),
    var(--background);
}

[data-theme='dark'] .app {
  background:
    radial-gradient(
      circle at 80% 0%,
      rgba(102, 94, 255, 0.12),
      transparent 34%
    ),
    var(--background);
}

main {
  flex: 1;
}